.logo {
    width: 300px;
    height: 70px;
  }
  .ss{
      display: flex;
      flex-direction:row ;
  }

  .button2 {
    border: 2px solid #01a747;
    background-color: #01a747;
    border-radius: 10px;
    color: white;
    height: 60px;
    width: 250px;
  }
  
  .buttons {
    display: flex;
    height: 70px;
  }
  .button1 {
    border: 2px solid #01a747;
    background-color: white;
    border-radius: 10px;
    width: 150px;
    color: #01a747;
    
  }

  .main {
    padding-left: 125px !important;
    padding-right: 125px !important;
}

.category-div {
  background:#f4f6fa ;
  border: 1px solid #ebf1f1;
  padding: 16px !important;
  cursor: pointer !important;
}
.category-div:visited{
  background-color: white;
}