<div class="row">
  <div class="col-9">
    <nav>
      <a href=""></a>
      <img src="../../assets/logo2.png" class="logo" alt="" />
    </nav>
  </div>
  <div class="col-3">
    <app-header></app-header>
  </div>
</div>
<div class="main">
  <div class="row">
    <div class="col-8">
      <app-step-mark></app-step-mark>
    </div>
    <div class="col-4 mt-5">
      <button class="mt-5 ms-5 button2" (click)=report()>
        View my report
        <i class="fa fa-arrow-right"></i>
      </button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-8">
      <h3>Calculation for carbon foot print</h3>
    </div>
    <div class="col-4">
      <div class="buttons">
        <button class="button1 mx-3">
          <i class="fa fa-arrow-left"></i>
          Back
        </button>
        <button class="button2">
          Next:Calculate carbon footprint data
          <i class="fa fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 scroll-y">
      <form action="" class="overflow-scroll h-50">
        <div
          class="
            category-div
            selected-category
            ng-untouched ng-pristine ng-valid ng-star-inserted
          "
        >
          <p class="category-name">Farm land and biomass</p>
          <p class="category-co2 mb-0">
            CO2EQ in T(per year):
            <span><b>0</b></span>
          </p>
        </div>
        <div
          class="
            category-div
            selected-category
            ng-untouched ng-pristine ng-valid ng-star-inserted
          "
        >
          <p class="category-name">Farm land and biomass</p>
          <p class="category-co2 mb-0">
            CO2EQ in T(per year):
            <span><b>0</b></span>
          </p>
        </div>
        <div
          class="
            category-div
            selected-category
            ng-untouched ng-pristine ng-valid ng-star-inserted
          "
        >
          <p class="category-name">Farm land and biomass</p>
          <p class="category-co2 mb-0">
            CO2EQ in T(per year):
            <span><b>0</b></span>
          </p>
        </div>
        <div
          class="
            category-div
            selected-category
            ng-untouched ng-pristine ng-valid ng-star-inserted
          "
        >
          <p class="category-name">Farm land and biomass</p>
          <p class="category-co2 mb-0">
            CO2EQ in T(per year):
            <span><b>0</b></span>
          </p>
        </div>
        <div
          class="
            category-div
            selected-category
            ng-untouched ng-pristine ng-valid ng-star-inserted
          "
        >
          <p class="category-name">Farm land and biomass</p>
          <p class="category-co2 mb-0">
            CO2EQ in T(per year):
            <span><b>0</b></span>
          </p>
        </div>
        <div
          
        class="
          category-div
          selected-category
          ng-untouched ng-pristine ng-valid ng-star-inserted
        "
      >
        <p  class="category-name">
          Farm land and biomass
        </p>
        <p  class="category-co2 mb-0">
          CO2EQ in T(per year):
          <span ><b >0</b></span>
        </p>
      </div>
      <div
          
      class="
        category-div
        selected-category
        ng-untouched ng-pristine ng-valid ng-star-inserted
      "
    >
      <p  class="category-name">
        Farm land and biomass
      </p>
      <p  class="category-co2 mb-0">
        CO2EQ in T(per year):
        <span ><b >0</b></span>
      </p>
    </div>
    <div
          
    class="
      category-div
      selected-category
      ng-untouched ng-pristine ng-valid ng-star-inserted
    "
  >
    <p  class="category-name">
      Farm land and biomass
    </p>
    <p  class="category-co2 mb-0">
      CO2EQ in T(per year):
      <span ><b >0</b></span>
    </p>
  </div>
      </form>
    </div>
    <div class="col-8">
      <table>
        <thead>
          <th></th>
          <th>Worth</th>
          <th>Factor</th>
          <th>CO2EQ in T</th>
          <th>info and remarks</th>
        </thead>
      </table>
    </div>
  </div>
</div>
