<div class="row mx-0">
  <div class="overflow-hidden col-md-8 col-12 col-xs-12 col-8 ps-lg-5 pe-lg-2">
    <nav class="row logo">
      <a href=""></a>
      <img src="../../assets/logo2.png" alt="" />
    </nav>
    <div class="left">
      <app-step-mark></app-step-mark>
      <div class="scroll">
        <p class="fs-2 text-dark">Basic farm details</p>
        <form action="">
          <div class="input-group-lg mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Farm number"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group-lg mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Production"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group-lg mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Farmer name"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group-lg mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Adress"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group-lg mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="ZIP Village"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group-lg mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Altitude"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group-lg mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Phone"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group-lg mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Mobile"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group-lg mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Email"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group-lg mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Farm zone"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group-lg mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Mutation date"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group-lg mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Milch performance"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group-lg mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Version"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="buttons">
            <button class="button1 mx-3">
              <i class="fa fa-arrow-left" ></i>
              Back

            </button>
            <button class="button2">
              Next:Calculate carbon footprint data
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-12 col-xs-12 right">
    <app-header></app-header>
    <div class="info p-3">
      <h6 class="text-black" style="font-weight: bold">
        <img src="../../assets/foot 1.png" alt="" />
        Did you know?
      </h6>
      <p class="">
        Globally, the average carbon footprint for a person is closer to 4 tons.
        To have the best chance of avoiding a 2℃ rise in global temperatures,
        the average global carbon footprint per year needs to drop under 2 tons
        by 2050.
      </p>
    </div>
  </div>
</div>
