<div class="row mx-0 mt-5">
  <div class="col-12  col-md ps-0 d-flex flex-column justify-content-between">
    <p class="timeline-label mb-0 cursor-pointer">
      <span class="step-index">01</span
      ><span class="lh-11px current-label">Gather data</span>
    </p>
    <div class="d-flex  flex-row align-items-center">
      <div class="completed-step">
        <i class="fa fa-check"></i>
      </div>
      <div class="line-div"></div>
    </div>
  </div>
  <div class="col-12 col-md ps-0 d-flex flex-column justify-content-between">
    <p class="timeline-label mb-0 cursor-pointer">
      <span class="step-index">02</span
      ><span class="lh-11px current-label">Basic farm details</span>
    </p>
    <div class="d-flex flex-row align-items-center">
      <div class="current">

      </div>
      <div class="line-div line-div-pending"></div>
    </div>
  </div>
  <div class="col-12 col-md ps-0 d-flex flex-column justify-content-between">
    <p class="timeline-label mb-0">
      <span class="step-index">03</span
      ><span class="lh-11px current-label"
        >Calculation for carbon foot print</span
      >
    </p>
    <div class="d-flex flex-row align-items-center">
      <div class="current-step">
        <div class="circle"></div>
      </div>
      <div class="line-div line-div-pending"></div>
    </div>
  </div>
  <div class="col-12 col-md ps-0 d-flex flex-column justify-content-between">
    <p class="timeline-label mb-0">
      <span class="step-index">04</span
      ><span class="lh-11px">Calculation for labels</span>
    </p>
    <div class="d-flex flex-row align-items-center">
      <div class="pending-step">
        <div class="circle"></div>
      </div>
    </div>
  </div>
 
</div>
