<div class="row mx-0">
  <div class="col-md-8 col-12 col-xs-12 col-8 ps-lg-5 pe-lg-2 left">
    <img
      src="../../assets/world-climate_farm-tool_logo 1.png"
      class="logo"
      alt=""
    />
    <p class="fs-3 ms-4  pt-3" style="color: #01a747;font-weight:800; ">
      Lets calculate your farms carbon footprint
    </p>
    <p class="text-p ms-4 text-success">
      You can either import data by uploading an XML file or you can download
      the excel template or fill in the details online for calculating your
      carbon footprint.
    </p>
    <div class="row mx-0 text-center">
      <div class="col   data fileupload">
        <img src="../../assets/Vector.png" alt="" />
        <div class="button-wrapper m-3">
          <p class="label"> Import data from an XML file </p>

          <input
            type="file"
            name="upload"
            id="upload"
            class="upload-box"
            placeholder="Upload File"
          />
        </div>
        <!-- <input type="file" name="" id="" class="upload" />
        <img src="../../assets/Vector.png" alt="" />
        <p>Import data from an XML file</p> -->
      </div>
      <div class="col data">
        <div >
            <img src="../../assets/Vector(1).png" alt="" />
            <a href="#" class="col ">
                <p class="m-3">Download excel template</p>
              </a>
        </div>
      </div>
      <div class="col  data">
        <img src="../../assets/resume 1.png" alt="" />
        <p class="m-3">Add details online</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-12 col-xs-12 col-4  right">
    <app-header></app-header>
    <div class="info  p-3">
      <h6 class="text-black">
          <img src="../../assets/foot 1.png" alt="">
          Did you know?</h6>
      <p class="">
        Globally, the average carbon footprint for a person is closer to 4 tons.
        To have the best chance of avoiding a 2℃ rise in global temperatures,
        the average global carbon footprint per year needs to drop under 2 tons
        by 2050.
      </p>
    </div>
  </div>
</div>
