
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;800&display=swap');

.right{
background-image: url('../../assets/pexels-ali-arapoğlu-2623851.jpg');
background-position: 50% !important;
background-repeat: no-repeat !important;
background-size: cover !important;
height: 100vh !important;
padding-left: 3rem !important;
padding-right: 3rem !important;
}
/* .left{
    padding-left: 125px !important;
    padding-right: 50px !important;

} */
.logo{
    margin-top: 25%;
}
.nv{
text-decoration: none;

}
.data{
  
margin: 2rem;
margin-left: 2rem;
color: #13a538;
height: 200px;
border: 1px solid #ebf1ff;
padding-top: 2rem;
padding-bottom: 3rem;
border-radius: 10px;
cursor: pointer;
}
a{
text-decoration: none;
color: #01A747;
}
a:hover{
    background: linear-gradient(180deg, rgba(1, 167, 71, 0.62) 0%, #01A747 100%);
    color: white;
    
}
/* input[type="file"] {
    display: none;
} */
.data:hover{
    background: linear-gradient(180deg, rgba(1, 167, 71, 0.62) 0%, #01A747 100%);
    color: white;
}
.button-wrapper {
position: relative;    
}
  
  .button-wrapper span.label {
    position: relative;
    /* display: inline-block; */
    cursor: pointer; 
  }
  
  #upload {
      display: inline-block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 50px;
        top: 0;
      left: 0;
      opacity: 0; 
      cursor: pointer;
  }
  .info{
    background: #fff9;
    box-shadow: 0 8px 30px #2a385440;
    border-radius: 20px;
    margin-left: -20px;
    position: absolute;
    
    color: #01A747;
    margin-top: 500px;
    
  }
@media screen and (max-width:1500px) {
    .info{
        margin-top: 300px;
    }
}